
body
{
    background-color: blue;
    padding-top: 40px;
}


.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); 
}

h1 
{
    margin: 0 10px 40px 330px;
    color: blue;
    font-family: 'Helvetica Neue' sans-serif;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 0px;

}