<h2> Welcome <%=@user.name %> </h2>	

<!-- @post
 -->

<form action="/session/new" method="post">
      				<input type="text" name="peep" value="content">
      				<input type="submit" value="Peep">
 </form>