<html>
	<head>
		<title>FORGOT PASSWORD</title>
	</head>
		<body>
		Please, to reset your password type your email
				<form action='/forgot_password' method = "post">
				Email: <input type="text" name = "email">
        </form>
		</body>
</html>
