<html>
	<head>
	<head> </head> </head>
		<title> CHITTER </title>
	
			<body>
			
					<h1> Welcome to Chitter </h1>
    			<form action="/" method="post">
      				<input type="hidden" name="_method" value="delete">
      				<input type="submit" value="Sign Out">
   				 </form>
   				   <% if flash[:notice] %>
    						<div id="notice">
      							<%= flash[:notice] %>
   							</div>
  						<% end %>
						<% if flash[:errors] && !flash[:errors].empty? %>
						  Sorry, there were the following problems with the form.
						 		 <ul id="errors">
						   			 <% flash[:errors].each do |error| %>
						      			<li><%= error %></li>
						    			<% end %>
						 		 </ul>
						<% end %>
				<%= yield %>
			</body>
</html>