<html>
	<head>
	</head>
		<title> CHITTER </title>
			<body>	
					<h1> Welcome to Chitter </h1>
    			<form action="/" method="post">
      				<input type="submit" value="Sign Out">
   				 </form>
						<% if flash[:errors] && !flash[:errors].empty? %>
						  Sorry, there were the following problems with the form.
						 		 <ul id="errors">
						   			 <% flash[:errors].each do |error| %>
						      			<li><%= error %></li>
						    			<% end %>
						 		 </ul>
						<% end %>
				<%= yield %>
			</body>
</html>