<form action="/peep/new" method="post">
      				<input type="text" name="peep" value="content">
      				<input type="submit" value="Peep">
</form>

<ul>
	<% if @peeps %>
		<% @peeps.each do |peep| %>
			<li>
				<%= peep.content %>
				<p>
				<%= @peep.created_at.strftime("%d/ %b/ %Y %H:%M:%S") %>
				</p>
			</li>
		<%end%>
	<%end%>
</ul>


